{% extends "base.html" %}

{% block content %}
<h1 align="center">Bestandskonten</h1>
</br>
<form method="POST">
    <div align="center" >
        <button type="submit" class="btn btn-primary">Bilanzabschlussrechnung</button>
    </div>
</form>

</br>

{% for bilanz in user.bilanzen %}
{% if bilanz.kontoart == 'aktiv' or bilanz.kontoart == 'passiv' %}
{% set summe_soll = 0 %}
{% set summe_haben = 0 %}
<table class="table table-light table-hover table-sm" id="{{bilanz.name}}" name="{{bilanz.name}}">
    <thead>
        <tr align="center">
            <th class="table-active" scope="col" colspan="2" style="width: 45%">Soll</th>
            <th class="table-active" scope="col" style="width: 10%">{{ bilanz.name }}</th>
            <th class="table-active" scope="col" colspan="2" style="width: 45%">Haben</th>
        </tr>
    </thead>
    <tbody>
        {% if bilanz.kontoart == 'aktiv' %}
        <tr align="center">
            <td class="w-20" style="color: #2ECC71">Anfangsbestand</td>
            <td class="w-20" style="color: #2ECC71">{{ bilanz.anfangsbestand }}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
        </tr>
        {% elif bilanz.kontoart == 'passiv' %}
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" style="color: #2ECC71">Anfangsbestand</td>
            <td class="w-20" style="color: #2ECC71">{{ bilanz.anfangsbestand }}</td>
        </tr>
        {% endif %}
        {% for buchungssatz in user.buchungssaetze %}
        {% if buchungssatz.soll_id == bilanz.id %}
        <tr align="center">
            <td class="w-20" id="{{buchungssatz.id}}"><a href="/buchungssatz/#{{buchungssatz.id}}">({{ buchungssatz.id }})</a></td>
            <td class="w-20">{{ buchungssatz.wert }}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
        </tr>
        {% elif buchungssatz.haben_id == bilanz.id%}
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" id="{{buchungssatz.id}}"><a href="/buchungssatz/#{{buchungssatz.id}}">({{ buchungssatz.id }})</a></td>
            <td class="w-20">{{ buchungssatz.wert }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    
    {% if bilanz.abgeschlossen == True %}
    <tfoot>
        {% for summe in summen %}
        {% if summen.index(summe) == user.bilanzen.index(bilanz)%}
        {% if bilanz.kontoart == 'aktiv' %}
        <tr align="center">
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #F1C40F">{{summe[1]}}</td>
        </tr>
        <tr align="center">
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #E74C3C">Schlussbestand (Saldo)</td>
            <td class="w-20 table-active" style="color: #E74C3C">{{bilanz.abschlussbestand}}</td>
        </tr>
        <tr align="center">
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #F1C40F">{{summe[0]}}</td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #F1C40F">{{summe[0]}}</td>
        </tr>
        {% elif bilanz.kontoart == 'passiv' %}
        <tr align="center">
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #F1C40F">{{summe[0]}}</td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
        </tr>
        <tr align="center">
            <td class="w-20 table-active" style="color: #E74C3C">Schlussbestand (Saldo)</td>
            <td class="w-20 table-active" style="color: #E74C3C">{{bilanz.abschlussbestand}}</td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
        </tr>
        <tr align="center">
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #F1C40F">{{summe[1]}}</td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active"></td>
            <td class="w-20 table-active" style="color: #F1C40F">{{summe[1]}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tfoot>
    {% else %}
    {% endif %}

</table>
</br>
{% endif %}
{% endfor %}
{% endblock %}