{% extends "base.html" %}

{% block content %}
<h1 align="center" style="color: white">Bestandskonten</h1>
</br>
<form method="POST">
    <div align="center" >
        <button type="submit" class="btn btn-primary">Bilanzabschlussrechnung</button>
    </div>

</form>

</br>

{% for bilanz in user.bilanzen %}
{% if bilanz.kontoart == 'ertrag' or bilanz.kontoart == 'aufwand' %}
{% set summe_soll = 0 %}
{% set summe_haben = 0 %}
<table class="table table-dark table-striped table-hover table-sm" id="{{bilanz.name}}" name="{{bilanz.name}}">
    <thead>
        <tr align="center">
            <th scope="col" colspan="2" style="width: 45%">Soll</th>
            <th scope="col" style="width: 10%">{{ bilanz.name }}</th>
            <th scope="col" colspan="2" style="width: 45%">Haben</th>
        </tr>
    </thead>
    <tbody>

        {% for buchungssatz in user.buchungssaetze %}
        {% if buchungssatz.soll_id == bilanz.id %}
        <tr align="center">
            <td class="w-20" id="{{buchungssatz.id}}"><a href="/buchungssatz/#{{buchungssatz.id}}">({{ buchungssatz.id }})</a></td>
            <td class="w-20">{{ buchungssatz.wert|int }}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
        </tr>
        {% elif buchungssatz.haben_id == bilanz.id%}
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" id="{{buchungssatz.id}}"><a href="/buchungssatz/#{{buchungssatz.id}}">({{ buchungssatz.id }})</a></td>
            <td class="w-20">{{ buchungssatz.wert|int }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>

    {% if bilanz.abgeschlossen == True %}
    <tfoot>
        {% for summe in summen %}
        {% if summen.index(summe) == user.bilanzen.index(bilanz)%}
        {% if bilanz.kontoart == 'aufwand' %}
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" style="color: #ffc107">{{summe[1]}}</td>
        </tr>
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" style="color: #EF9A9A">Saldo</td>
            <td class="w-20" style="color: #EF9A9A">{{bilanz.abschlussbestand}}</td>
        </tr>
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20" style="color: #ffc107">{{summe[0]}}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" style="color: #ffc107">{{summe[0]}}</td>
        </tr>
        {% elif bilanz.kontoart == 'ertrag' %}
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20" style="color: #ffc107">{{summe[0]}}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
        </tr>
        <tr align="center">
            <td class="w-20" style="color: #EF9A9A">Saldo</td>
            <td class="w-20" style="color: #EF9A9A">{{bilanz.abschlussbestand}}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20"></td>
        </tr>
        <tr align="center">
            <td class="w-20"></td>
            <td class="w-20" style="color: #ffc107">{{summe[1]}}</td>
            <td class="w-20"></td>
            <td class="w-20"></td>
            <td class="w-20" style="color: #ffc107">{{summe[1]}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tfoot>
    {% else %}
    {% endif %}
</table>
</br>
{% endif %}
{% endfor %}
{% endblock %}