{% extends "base.html" %}

{% block content %}
<h1 align="center" style="color: white">Erfolgskonten</h1>
</br>

<table class="table table-dark table-striped table-hover table-bordered table-sm" id="eroeffnungsbilanz_table" name="eroeffnungsbilanz_table">
    <thead>
        <tr align="center">
            <th scope="col" style="width: 20%">Aktiva</th>
            <th scope="col" style="width: 20%"></th>
            <th scope="col" style="width: 20%">Passiva</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
    <tfoot>

    </tfoot>
</table>
<table class="table table-dark table-striped table-hover table-bordered table-sm" id="eroeffnungsbilanzkonto_table" name="eroeffnungsbilanzkonto_table">
    <thead>
        <tr align="center">
            <th scope="col" style="width: 20%">Aktiva</th>
            <th scope="col" style="width: 20%"></th>
            <th scope="col" style="width: 20%">Passiva</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
    <tfoot>

    </tfoot>
</table>
<table class="table table-dark table-striped table-hover table-bordered table-sm" id="schlussbilanzkonto_table" name="schlussbilanzkonto_table">
    <thead>
        <tr align="center">
            <th scope="col" style="width: 20%">Aktiva</th>
            <th scope="col" style="width: 20%"></th>
            <th scope="col" style="width: 20%">Passiva</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
    <tfoot>

    </tfoot>
</table>
<table class="table table-dark table-striped table-hover table-bordered table-sm" id="schlussbilanz_table" name="schlussbilanz_table">
    <thead>
        <tr align="center">
            <th scope="col" style="width: 20%">Aktiva</th>
            <th scope="col" style="width: 20%"></th>
            <th scope="col" style="width: 20%">Passiva</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
    <tfoot>

    </tfoot>
</table>

</br>
{% endblock %}