{% extends "base.html" %}

{% block content %}
<h1 align="center">Übersicht Konten & Kontenerfassung</h1>
</br>
<div align="center" >
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buchungssatzForm">
        Konto eröffnen
    </button>
</div>
</br>
<table class="table table-light table-hover table-sm" name="bestandskonten">
    <thead>
        <tr align="center">
            <th class="table-active" scope="col">ID</th>
            <th class="table-active" scope="col">Name</th>
            <th class="table-active" scope="col">Anfangsbestand</th>
            <th class="table-active" scope="col">Abschlussbestand</th>
            <th class="table-active" scope="col">Kontoart</th>
        </tr>
    </thead>
    <tbody>
        {% for bilanz in user.bilanzen %}
        {% if bilanz.kontoart != 'guv' %}
        <tr align="center">
            <td>{{ bilanz.id }}</td>
            <td><a href="/bestandskonten/#{{bilanz.name}}">{{ bilanz.name }}</a></td>
            <td>{{ bilanz.anfangsbestand|int }}</td>
            <td>{{ bilanz.abschlussbestand|int }}</td>
            <td>{{ bilanz.kontoart }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="buchungssatzForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konto eröffnen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="bilanz_name">Name</label>
                        <input type="text" class="form-control" id="bilanz_name" name="bilanz_name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="bilanz_anfangsbestand">Anfangsbestand</label>
                        <input type="number" step="0.01" class="form-control" id="bilanz_anfangsbestand" name="bilanz_anfangsbestand" placeholder="Anfangsbestand">
                    </div>
                    </br>
                    <label for="bilanz_kontoart">Kontoart</label>
                    <select class="form-select form-control" name="bilanz_kontoart" id="bilanz_kontoart">
                        <option value="aktiv">
                            Aktiv
                        </option>
                        <option value="passiv">
                            Passiv
                        </option>
                        <option value="aufwand">
                            Aufwand
                        </option>
                        <option value="ertrag">
                            Ertrag
                        </option>
                    </select>
                    </br>
                    <div align="center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
