{% extends "base.html" %}

{% block content %}
<table class="table table-dark table-striped table-hover table-sm" id="guv_table" name="guv_table">
    <thead>
        <tr align="center">
            <th scope="col" colspan="2" style="width: 45%">Aktiv</th>
            <th scope="col" style="width: 10%">Schlussbilanz</th>
            <th scope="col" colspan="2" style="width: 45%">Passiv</th>
        </tr>
    </thead>

    <tbody>
        {% for konto in user.bilanzen %}
        {% if konto.abgeschlossen == True %}
        {% if konto.kontoart == 'aktiv' %}
        <tr >
            <td class="w-20">
                {{ konto.name }}
            </td>
            <td class="w-20">
                {{ konto.abschlussbestand|int }}
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% elif konto.kontoart == 'passiv' %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="w-20">
                {{ konto.name }}
            </td>
            <td class="w-20">
                {{ konto.abschlussbestand|int }}
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="w-20" style="color: #A5D6A7">
                Saldo (Gewinn)
            </td>
            <td class="w-20" style="color: #A5D6A7">
                {{ summe_aufwendungen|int }}
            </td>
            {% if summe_aufwendungen == summe_ertraege %}
            <td class="w-20" style="color: #f5f50a">{{(summe_aufwendungen - summe_ertraege)|int}}</td>
            {% elif summe_aufwendungen > summe_ertraege %}
            <td class="w-20" style="color: #A5D6A7">{{(summe_aufwendungen - summe_ertraege)|int}}</td>
            {% else %}
            <td class="w-20" style="color: #EF9A9A">{{(summe_aufwendungen - summe_ertraege)|int}}</td>
            {% endif %}
            <td class="w-20" style="color: #EF9A9A">
                Saldo (Verlust)
            </td>
            <td class="w-20" style="color: #EF9A9A">
                {{ summe_ertraege|int }}
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}