{% extends "base.html" %}

{% block content %}
<h1 align="center">Schlussbilanz</h1>
</br>
<table class="table table-light table-hover table-sm" id="guv_table" name="guv_table">
    <thead>
        <tr align="center">
            <th class="table-active" scope="col" colspan="2" style="width: 45%">Aktiv</th>
            <th class="table-active" scope="col" style="width: 10%">Schlussbilanz</th>
            <th class="table-active" scope="col" colspan="2" style="width: 45%">Passiv</th>
        </tr>
    </thead>

    <tbody>
        {% for konto in user.bilanzen %}
        {% if konto.abgeschlossen == True %}
        {% if konto.kontoart == 'aktiv' %}
        <tr >
            <td class="w-20">
                {{ konto.name }}
            </td>
            <td class="w-20">
                {{ konto.abschlussbestand }}
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% elif konto.kontoart == 'passiv' %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="w-20">
                {{ konto.name }}
            </td>
            <td class="w-20">
                {{ konto.abschlussbestand }}
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="w-20 table-active" style="color: #2ECC71">
                Saldo (Gewinn)
            </td>
            <td class="w-20 table-active" style="color: #2ECC71">
                {{ summe_aufwendungen }}
            </td>
            {% if summe_aufwendungen == summe_ertraege %}
            <td class="w-20 table-active" style="color: #F1C40F">{{(summe_aufwendungen - summe_ertraege)}}</td>
            {% elif summe_aufwendungen > summe_ertraege %}
            <td class="w-20 table-active" style="color: #2ECC71">{{(summe_aufwendungen - summe_ertraege)}}</td>
            {% else %}
            <td class="w-20 table-active" style="color: #E74C3C">{{(summe_aufwendungen - summe_ertraege)}}</td>
            {% endif %}
            <td class="w-20 table-active" style="color: #E74C3C">
                Saldo (Verlust)
            </td>
            <td class="w-20 table-active" style="color: #E74C3C">
                {{ summe_ertraege }}
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}